@import url(https://fonts.googleapis.com/css?family=Nunito);

@import url(https://fonts.googleapis.com/css?family=Nunito);

:root {
    --azul: #049DD9;
    --celeste: #04B2D9;
    --amarillo: #F2B705; 
    --mostaza: #F29F05;
    --cafes: #A67F37;
}

body{
    width: 100%;
    height: 100%;
    background: url(../images/fondo.jpg?7a7c612dae986cdcfbde57c39e802258) no-repeat  center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.body {
    width: 100%;
    height: 100vh;
    background: url(../images/fondo_blue.jpg?7a7c612dae986cdcfbde57c39e802258) no-repeat  center center fixed;
    background-size: cover;
    display: grid;
    place-items: center;
    margin: 0;
}
nav{
    background: var(--azul);
}
.menu{
    display: grid;
    grid-template-columns: 5% 10% 15% 25% 40% 5%;
}
.menu-lateral, .menu-titulo, .menu-datos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-lateral ul{
    display: none;
}
.menu-lateral input{ display: none;}
.menu-lateral input:checked ~ ul{
    display: block;
    position: absolute;
    background: var(--azul);
    color: white;
    width: 250px;
    left: 0;
    border: 1px solid black;
    padding: 10px;
    top: 65px;
    z-index: 100;
}
.menu-lateral ul li:hover{
    background-color: var(--celeste);
}
.menu-lateral ul li a{
    display: grid;
    grid-template-columns: 15% 80%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}
.menu-lateral ul li a i{ font-size: 1.5rem;}
.menu-lateral ul li a p{ font-size: 1.2rem;}
.menu-lateral label {
    box-sizing: border-box;
    display: inline-block;
    color: white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    font-size: 2rem;
    cursor: pointer;
  }

.menu-user{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-top: 0.5rem;
}  

.menu-user span{
    color: var(--amarillo);
}

.menu-user a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.menu-titulo{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    justify-content: flex-end;
}
.menu-login{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}
.menu-login a {
    text-decoration: none;
    color: white;
}
.welcome{/***/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.welcome a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 0px 20px 0;
    background: var(--azul);
}
.welcome a:hover{
    background: var(--celeste);
}
.welcome-1  h1{
    font-size: 4rem;;
    color: white;
    text-shadow: 1px 4px 10px black;
}
.dashboard{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 80vh;
}
.dash-1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.dash-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dash-2 a{
    text-decoration: none;
    font-size: 7rem;
    color: green;
}
.dash-2 a i{
    transition: all 0.2s 0.1s;
}
.dash-2 a i:hover {
    transform: scale(1.25);
}
.menu-datos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.menu-datos-1{
    display: flex;
    align-items: center;
}
.menu-datos-1 i, .menu-datos-2 i{
    color: var(--mostaza);
    font-size: 1.4rem;
    margin: 0 10px;
}
.menu-datos-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.menu-datos-2A, .menu-datos-2B{
    display: flex;
    align-items: center;
}

#progressBar {
    width: 10rem;
    height: 0.5rem;
    border: 0.2rem solid var(--mostaza);
    margin-bottom: 1.5rem;
    background-color: white;
}
#progressBarFill {
    height: 0.6em;
    background-color: var(--mostaza);
    width: 0%;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
}
.contentwelcome {
    border-radius: 5px;
    padding: 50px;
    font-family: montserrat;
    font-size: 40px;
    font-weight: 600px;
    background-color: #fff;
    mix-blend-mode: lighten;
}
.contentwelcome2 {
    width: 100%;
    text-align: center;
}
.btnjugar {
    border-radius: 5px;
    border: 1px solid black;
    padding: 7px;
}

.links {
    margin-top: 25px;
}
.linkregister {
    border: 1px solid blue;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px 15px;
    transition: 0.2s;
}

/*Register*/
#form-login-register{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.contentform {
    transform: scale(.8);
    background-color: white;
    text-align: center;
    border-radius: 5px;
    width: 400px;
}

.contentformreset {
    transform: scale(.8);
    background-color: white;
    text-align: center;
    border-radius: 5px;
    width: 700px;
}
.titleregister{
    text-align: left;
    padding-top: 20px;
}
.formregister {
    width: 100%;
    text-align: center;
}
.container{
    margin: 25px;
}
.name, .apellido, .fecha_nacimiento, .email, .password, .rol{
    width: 100%;
    margin-top: 45px;
    height: 30px;
}

#name, #apellido, #fecha_nacimiento, #email, #password, .roles {
    width: 80%;
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
    outline: 0;
    color: gray;
}

.contentformreset i, .contentform i  {
    padding-top: 7.5px;
    height: 25px;
    width: 30px;
    background-color: #04b2d9;
    color: white;
}
.buttonsregister {
    margin-top: 25px;
    padding: 30px;
    display: flex;
    gap: 3.2rem;
}
.buttonsregister1 {
    position: relative;
    top: 85px;
    width: 80%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    gap: 2.5rem;
}
.buttonsregister2 {
    position: relative;
    top: 85px;
    width: 80%;
    padding-left: 30px;
    padding-right: 30px;
}
.buttonsreset {
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
}
.buttonreset {
    background-color: #04b2d9;
    color: white;
    width: 200px;
    height: 35px;
    border-radius: 7px;
}
.buttonlogin {
    background-color: #F2B705;
    width: 120px;
    height: 35px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 7px;
}
.buttoncancelar {
    background-color: red;
    width: 120px;
    height: 35px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 7px;
}
.cancelar {
    color: white;
}
.buttonregister {
    background-color: #04b2d9;
    color: white;
    width: 120px;
    height: 35px;
    border-radius: 7px;
}
.buttonlogin:hover {
    cursor: pointer;
    box-shadow: 4px 4px 15px #F2B705;
}
.buttonregister:hover {
    cursor: pointer;
    box-shadow: 4px 4px 15px #04b2d9;
}
.buttonreset:hover {
    cursor: pointer;
    box-shadow: 4px 4px 15px #04b2d9;
}
a {
    text-decoration: none;
    color: black;
}
.forgotpassword {
    padding-bottom: 25px;
}

.titleregister {
    color: #04b2d9;
}
.forgot {
    color: #04b2d9;
}
.message {
    margin-top: 25px;
}
#success {
    padding-bottom: 25px;
}

.file {
    padding: 5px;
}

#text {
    text-align: center;
    color: gray;
}

#avatar {
    opacity: 0;
    outline: 0;
    border: 1px;
}
#avatar1 {
    position: relative;
    bottom: 620px;
    outline: 0;
    border: none;
    text-align: top;
}
.avatars {
    position: relative;
    bottom: 85px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    gap: 30px;
}
.img1, .img2, .img3, .img4 {
    border-radius: 50%;
    border: 1px solid black;
    border: none;
}

.avatar {
    width: 60px;
    height: 66px;
    border-radius: 50%;
    border: 1px solid black;
}

.not-active { 
    pointer-events: none; 
    cursor: default;
}


/***/

.option {
    width: 60px;
    height: 66px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.option input {
    display: none;
}

.option label {
    font-family: "Josefin Slab", sans-serif;
    font-size: 60px;
    cursor: pointer;
}

.option label::after {
    content: "";
    position: absolute;
    top: -8%;
    right: -8%;
    width: 60px;
    height: 66px;
    border: 5px solid #049DD9;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.option label::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.5%;
    transform: translateY(-50%);
    width: 60px;
    height: 66px;
    background-color: #0aac83;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    opacity: 0;
}

.option input:checked ~ label::after {
    opacity: 1;
}

#humor_personaje{
    position: absolute;
    width: 110px;
    background: var(--azul);
    padding: 15px;
    border-radius: 30px;
    top: 150px;
}

.mi-data-table{
    margin: 50px auto;
    width: 90%;
    background: var(--cafes);
}
.mi-data-table tbody tr:hover{
    background: #fff;
}
.boton-ver-datatable{
    background-color: var(--azul);
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
}