.container-preguntas{
    width: 80%;
    height: 80vh;
    margin: 2rem auto;
    border:1px solid red;
}

.container-play{
    display: flex;
}

.avatar-display{
    width: 600px;
    border:1px solid blue;
}